[Unit]
Description=Overlay /usr/libexec/droid-hal/vendor over /vendor
After=vendor.mount
DefaultDependencies=no

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/droid/mount_overlay_vendor.sh

[Install]
WantedBy=local-fs.target
